.table-game {
    margin: 0 auto;
    cursor: url("../images/cursor-hammer.cur"), grabbing;
}

.table-game-cells {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

.game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.start-btn {
    width: 90px;
    height: 40px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    background: #1ac66c;
    border: 1px solid black;
}

.start-btn--invisible {
    visibility: hidden;
}

.levels-container {
    margin-bottom: 10px;
}

.active-cell {
    background: url("../images/active-cell_mouse.png") no-repeat 50% 50%;
    background-size: contain;
}

.fail-cell {
    background: url("../images/fail-cell_player-loose.png") no-repeat 50% 50%;
    background-size: contain;
}

.correct-cell {
    background: url("../images/correct-cell_pick-up-mouse.png") no-repeat 50% 50%;
    background-size: 100%;
}