.animate-title-film {
    text-align: center;
    font-size: 26px;
    background: linear-gradient(90deg, #000, #e9e600, #000) no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -350%;
    }
    100% {
        background-position: 350%;
    }
}