body {
    color: #fff;
    background-color: #0f222b;
}

.title-page {
    text-align: center;
    font-size: 48px;
    color: #e9e600;
    text-shadow: 4px 4px 0 #000;
}

.btn-show-films {
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background: #6f42c1;
    border: 1px solid #000;
    border-radius: 5px;
    opacity: 0.5;
}

.btn-show-films:hover {
    color: #e9e600;
    opacity: 1;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list {
    box-sizing: border-box;
    /*max-width: 20%;*/
    margin: 5px;
}

.list-number {
    text-align: center;
    font-size: 26px;
    color: #e9e600;
}

.list-title {
    text-align: center;
    font-size: 26px;
    color: #e9e600;
}

.list-descr {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    word-break: break-all;
}

.list-characters {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: inside;
}

.list-item-characters {
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 0 #000;
}

.list-item-characters:nth-child(odd) {
    color: #e9e600;
}

.list-item-characters:last-child {
    margin-bottom: 0;
}