/*General*/

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;

    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.btn_page-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    width: 70px;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #169cb4;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
}

.btn_page-up:hover {
    opacity: 1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    background: url("../images/header_bg.jpeg") no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.btn_toggle-block {
    width: 150px;
    display: block;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background: #5fca32;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
}


/*Header navigation*/

.header__top {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background: #1d2124;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.header__logo::before {
    content: "";
    display: block;
    float: left;
    width: 69px;
    height: 70px;
    background: #171a1c url("../images/header_logo-image.png") no-repeat center;
}

.header__logo:hover {
    color: #169cb4;
    transform: rotate(5deg);
    transition: all .6s ease-out;
}

.header__nav {
    width: 710px;
    margin: auto;
}

.header__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__list a {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.header__list a:hover {
    color: #169cb4;
    border-color: #169cb4;
    transition: all .6s ease-in-out;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background-color: #171a1c;
    cursor: pointer;
}

.header__search:hover {
    color: #169cb4;
    font-size: 24px;
    transition: all .6s ease-in-out;
}



/*Header content*/

.header__main {
    display: flex;
    padding-top: 125px;
    padding-bottom: 128px;
}

.header__content {
    margin: auto;
}

.header__title {
    margin-bottom: 40px;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.header__buttons {
    text-align: center;
}

.btn {
    width: 170px;
    height: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
}

.subs-btn {
    margin-right: 15px;
    background: #89ca62;
    border-color: #89ca62;
}

.subs-btn:hover {
    text-shadow: 0 0 2px #000;
    background: #5fca32;
    border-color: #5fca32;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    transition: all .8s ease-in-out;
}

.article-btn {
    background: #14b9d5;
    border-color: #14b9d5;
}

.article-btn:hover {
    text-shadow: 0 0 2px #000;
    background: #0b6cd5;
    border-color: #0b6cd5;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    transition: all .8s ease-in-out;
}



/*Posts*/

.posts {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
}

.title-block {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.posts__title {
    margin-bottom: 50px;
    font-size: 27px;
    color: #18b4cf;
}

.posts__images {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 855px;
}

.post-image__block {
    width: 31.6%;
    margin-bottom: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

.post-image__block:hover .post-image_hover {
    transform: translateY(-25px) scale(1.2);
    transition: all .8s ease-out;
}

.post-image__image-vanglo {
    height: 260px;
    background: url("../images/posts_vanglo-house-canada.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.post-image__image-sunrise {
    height: 380px;
    background: url("../images/posts_sunrise-expanse-hotel-usa.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.post-image__image-stergaze {
    height: 290px;
    background: url("../images/posts_stargate-resort-spa-usa.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.post-image__image-royal {
    height: 260px;
    background: url("../images/posts_royal-blossom-hotel-usa.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.post-image__image-sunset {
    height: 247px;
    background: url("../images/posts_sunset-shack-hotel-spain.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.post-image__image-glorious {
    height: 380px;
    background: url("../images/posts_glorieous-expanse-hotel-france.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.post-image__description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    text-align: center;
    background: #fff;
}



/*Clients*/

.clients {
    padding-top: 190px;
    padding-bottom: 190px;
    background: url("../images/clients_parallax-bg.jpeg") no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.clients__title {
    font-size: 32px;
    color: #fff;
}

.clients__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 55px auto 60px auto;
    background: #169cb4;
}

.clients__list {
    display: grid;
    grid-template-columns: 215px 150px 185px 150px;
    justify-content: center;
    grid-gap: 60px;
}

.clients__list li {
    height: 52px;
}

.clients__list a {
    width: 100%;
    height: 100%;
    display: block;
}

.client_national-post {
    background: url("../images/clients_national-post.png") no-repeat center;
}

.client_dryme {
    background: url("../images/clients_dryme.png") no-repeat center;
}

.client_house-home {
    background: url("../images/clients_house-home.png") no-repeat center;
}

.client_journy {
    background: url("../images/clients_journy.png") no-repeat center;
}



/*Top rated*/

.rated {
    padding-top: 65px;
}

.rated__title {
    margin-bottom: 50px;
    font-size: 27px;
    color: #18b4cf;
}

.rated__images-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.rated_image {
    height: 190px;
}

.image_children-room {
    background: url("../images/rated_children-room.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.image_children-room-panaram {
    background: url("../images/rated_children-room-panaram.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.image_children-room-panaram-2 {
    background: url("../images/rated_children-room-panaram-2.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.image_swimming-pool {
    background: url("../images/rated_swimming-pool.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.image_horses {
    background: url("../images/rated_horses.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.image_building {
    background: url("../images/rated_building.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.image_stadium {
    background: url("../images/rated_stadium.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}



/*Hot News*/

.news {
    padding-top: 55px;
    padding-bottom: 70px;
}

.news__title {
    margin-bottom: 20px;
    font-size: 27px;
    color: #18b4cf;
}

.news__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
}

.news-post_prophecy-hotel {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin-right: 15px;
}

.news-post_nebula-hotel {
    grid-column: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 210px 1fr;
 }

.news-post_western-pyramid {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 259px 1fr;
    margin-right: 15px;
}

.news-post_grand-meadows {
    grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 259px 1fr;
    margin-left: 25px;
}

.news-post_wandeslust-resort {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 259px 1fr;
    margin-right: 15px;
}

.news-post_twin-sanctuary {
    grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 259px 1fr;
    margin-left: 25px;
}

.news-post_prism-hotel {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 210px 1fr;
}

.news-post_kings-shroud {
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin-left: 15px;
}

.news-post_image {
    width: 100%;
    height: 100%;
}

.news-post-image_nebula-hotel,
.news-post_image_prism-hotel {
    width: 100%;
    height: 100%;
}

.news-post_title-block {
    background-color: #f9f7f7;
}

.news-post_title {
    font-size: 18px;
    font-weight: bold;
    background-color: #f9f7f7;
}

.news-post_description {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.news-title_nebula-hotel,
.news-title_prism-hotel {
    padding: 15px 0;
    text-align: center;
}

.news-post_title-block-prophecy-hotel,
.news-post_title-block-kings-shroud {
    padding: 40px 20px 35px 25px;
    text-align: right;
}

.news-post_title-block-western-pyramid,
.news-post_title-block-grand-meadows,
.news-post_title-block-wandeslust-resort,
.news-post_title-block-twin-sanctuary {
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}



/*Footer*/

.footer {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: #1d2124;
}

.footer__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 13px;
    line-height: 21px;
    color: #fff;
}

.footer__logo {
    text-align: right;
}

.footer_logo-image {
    display: inline-block;
    width: 38px;
    height: 24px;
    background: url("../images/footer_copyright-logo.png") no-repeat center;
}

.footer_logo-title {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 16px;
    background: url("../images/footer_logo-title.png");
}
