@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo.eot');
    src: local('Arimo'),
    url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo.woff') format('woff'),
    url('../fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: #f5f6f7;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #848484;
}

.pricing-plan {
    width: 1140px;
    margin: auto;
    background-color: #23201D;
    border: 1px solid #1d2124;
}

tr:nth-child(odd) {
    background-color: #848484;
}

tr:nth-child(even) {
    background-color: #484848;
}

tr:nth-child(odd):not(:last-child):hover {
    background: #3cb878;
    transition: all .8s linear;
}

tr:nth-child(even):hover {
    background: #16a085;
    transition: all .8s linear;
}

th, td {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    text-align: center;
}

td {
    height: 69px;
    border-right: 1px solid #1d2124;
    border-left: 1px solid #1d2124;
}

.pricing-plan__list {
    font-size: 18px;
    font-weight: bold;
}

.pricing-plan_choose {
    position: relative;
    width: 27.19%;
    background-color: #484848;
    border-right: 1px solid #1d2124;
}

.pricing-plan_choose span {
    display: block;
}

.pricing-plan_choose span:first-child {
    font-size: 18px;
    font-weight: bold;
}

.pricing-plan_choose span:last-child {
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

.btn-change-theme {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #23201D;
    background: #1ac66c;
    border: 1px solid #16a085;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #f5f6f7;
}

.btn-change-theme:hover {
    text-shadow: 2px 0 5px #fff;
    background: #72ff82;
}

.pricing-plan_standard {
    width: 24.28%;
    padding-top: 23px;
    padding-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background: #89ca62;
}

.pricing-plan_ultimate {
    width: 24.29%;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    background: #ff6751;
}

.pricing-plan_premium {
    width: 24.28%;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background: #264b96;
}

.price__block {
    padding-top: 13px;
    padding-bottom: 15px;
    background-color: #484848;
    border-right: 1px solid #1d2124;
    border-left: 1px solid #1d2124;
}

.price-in-dollars {
    position: relative;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
}

.price-cents {
    position: absolute;
    top: -10px;
    right: -35px;
    font-size: 24px;
    font-weight: bold;
}

.price-period {
    display: inline-block;
    margin-left: 2px;
    font-size: 18px;
}

i {
    color: #ffffff;
}

.fa-archive {
    padding-right: 10px;
    font-size: 23px;
}

.fa-cloud-upload-alt {
    padding-right: 10px;
    font-size: 21px;
}

.fa-envelope {
    padding-right: 8px;
    font-size: 26px;
}

.fa-life-ring {
    padding-right: 8px;
    font-size: 25px;
}

.fa-cube {
    padding-right: 3px;
    font-size: 24px;
}

.fa-users {
    font-size: 25px;
}

.pricing-plan__buttons td {
    padding: 20px 0;
    background-color: #bccd95;
}

.pricing-plan__buttons td:first-child {
    background-color: #bccd95;
}

.pricing-plan__buttons td:nth-child(ever) {
    background-color: #bccd95;
}

.pricing-plan__buttons td:nth-child(odd):not(:first-child) {
    background-color: #bccd95;
}

.btn {
    width: 192px;
    height: 49px;
    padding-top: 5px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.contact__btn {
    border: 1px solid #484848;
    background: linear-gradient(to top, #404040 14%, #484848 14%);
}

.contact__btn:hover {
    background: #404040;
    color: #89c331;
    transition: color .5s linear;
}

.standard-plan__btn {
    border: 1px solid #89c331;
    background: linear-gradient(to top, #79b027 14%, #89c331 14%);
}

.standard-plan__btn:hover {
    background: #79b027;
    color: #484848;
    transition: color .5s linear;
}

.ultimate-plan__btn {
    border: 1px solid #f04a56;
    background: linear-gradient(to top, #df3a46 14%, #f04a56 14%);
}

.ultimate-plan__btn:hover {
    background: #df3a46;
    color: #484848;
    transition: color .5s linear;
}

.premium-plan__btn {
    border: 1px solid #20807c;
    background: linear-gradient(to top, #16736f 14%, #20807c 14%);
}

.premium-plan__btn:hover {
    background: #16736f;
    color: #f1ad1d;
    transition: color .5s linear;
}

