// Header
$height-header-nav: 37px;
$padding-header-nav-title: 18px;
$width-gamburger: 43px;

// Main Service
$height-service-item: 75px;


//Main-Menu
$padding-top-main-menu: 18px;
$margin-bottom-main-menu-title: 2px;
