$main-font: 'Lato', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$font-size-header-nav-title: 12px;
$font-size-gamburger: 17px;

$font-size-main-menu-title: 20px;
$font-size-main-menu-descr: 10px;
$font-size-main-menu-category-title: 20px;
$font-size-main-menu-sub-category-title: 15px;