$device-color: #878787;
$navigation-bg: #373c3f;
$navigation-text-color: #fff;
$gumburger-bg: #202529;
$menu-list-bg: #fafafa;
$menu-link-color: #444444;
$border-menu-color: #f1f1f1;
$menu-focus-bg: #f5f5f5;
$header-slogan-color: #fff;
$web-site-color: #a6d6e0;
$service-text-color: #fff;
$service-btn-bg: #acd8ad;
$main-menu-title-color: #3f4043;
$main-menu-descr-color: #d2d3d5;
$main-menu-category-title-dark-color: #acd8ad;
$main-menu-category-title-dark-bg: #3f4043;
$main-menu-category-title-light-color: #fff;
$main-menu-category-title-light-bg: #acd8ad;
$main-menu-sub-category-title-color: #3f4043;
$main-menu-sub-category-text-color: #3f4043;
$footer-text-color: #fff;
$footer-bg: #acd8ad;