@import "fonts";
@import "blocks-sizes";

// Device

.device {

  &__mobile {
    display: none;
  }

  &__mobile-xl {
    display: block;
  }

}



// Header

.header {

  &__navigation {
    height: $height-header-nav * 2;

    &-title {
      padding-left: $padding-header-nav-title * 2;
      font-family: $main-font;
      font-size: $font-size-header-nav-title * 2;
      font-weight: 400;
    }

    &-menu {
      top: $height-header-nav * 2;
    }
  }

  &__gamburger {
    width: $width-gamburger * 2;

    &-icon {
      font-size: $font-size-gamburger * 2;
    }
  }

  &__menu-list {
    width: 243px;
  }

  &__menu-link {
    padding: 15px 0 15px 26px;
    font-size: 14px;
  }

  &__title {
    padding: 25px 0 200px 40px;
  }

  &__slogan {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 38px;
  }

  &__web-site {
    font-size: 24px;
  }
}


// Main Service

.services {

  &__item {
    height: $height-service-item * 2;
    margin-bottom: 3px;

    &-title {
      font-size: 36px;
    }
  }
}

// Main Main-Menu

.main-menu {

  margin-bottom: 75px;
  padding-top: $padding-top-main-menu * 2;

  &__title {
    margin-bottom: $margin-bottom-main-menu-title * 2;
    padding-left: 20px;
    font-size: $font-size-main-menu-title * 2;
  }

  &__description {
    margin-bottom: 22px;
    padding-left: 20px;
    font-size: $font-size-main-menu-descr * 2;
  }

  &__category {

    &-title {
      margin-bottom: 18px * 2;
      padding: 16px 0 16px 36px;
      font-size: $font-size-main-menu-category-title * 2;
    }
  }

  &__sub-category {

    padding: 0 (18px * 2);

    &-title {
      margin-bottom: 20px * 2;
      font-size: $font-size-main-menu-sub-category-title * 2;
    }

    &-picture {

      top: -5px * 2;
      right: 18px * 2;

      &--pizza {
        width: 25px * 2;
        height: 25px * 2;
      }

      &--wine {
        width: 15px * 2;
        height: 25px * 2;
      }

      &--coffee {
        width: 30px * 2;
        height: 20px * 2;
      }

      &--beer {
        width: 20px * 2;
        height: 20px * 2;
      }
    }

    &-list {
      margin-bottom: 20px * 2;
    }

    &-item {

      margin-bottom: 18px;
      font-size: 13.5px * 2;

      &-title {
        margin-bottom: 15px;
      }

      &-description {
        font-size: 17.5px;
        line-height: 10px * 2;
      }
    }
  }
}

// Footer

.footer {
  margin-bottom: 50px;
  padding: (12px * 2) 0;
  font-size: 18px;

  &__description:first-child {
    margin-bottom: 8px * 2;
  }
}