@import "fonts";
@import "themes";
@import "blocks-sizes";


body {
  font-family: $main-font;
}

// Device

.device {
  position: relative;
  margin-top: 27px;
  margin-bottom: 60px;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  color: $device-color;

  &__mobile-xl {
    display: none;
  }

  &__tables {
    display: none;
  }

  &__pc {
    display: none;
  }

  &__image {
    position: absolute;
    top: -10px;
    right: 2px;
    width: 27px;
    height: 43px;
    background: url("../images/device_mobile.png") 50% 50% no-repeat;
  }
}



// Header

.header {

  margin-bottom: 4px;

  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: $height-header-nav;
    background: $navigation-bg;

    &-title {
      align-self: center;
      padding-left: $padding-header-nav-title;
      font-family: $secondary-font;
      font-size: $font-size-header-nav-title;
      font-weight: 500;
      color: $navigation-text-color;
    }

    &-menu {
      position: absolute;
      top: $height-header-nav;
      right: 0;
      z-index: 999;
      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__gamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width-gamburger;
    background: $gumburger-bg;
    cursor: pointer;

    &-icon {
      color: $navigation-text-color;
      font-size: $font-size-gamburger;
    }
  }

  &__menu-list {
    width: 182px;
    background: $menu-list-bg;
  }

  &__menu-item {
    border-top: 1px solid $border-menu-color;
    border-bottom: 1px solid $border-menu-color;
  }

  &__menu-link {
    display: block;
    padding: 9px 0 9px 12px;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    color: $menu-link-color;
    text-decoration: none;

    &:focus {
      background: $menu-focus-bg;
    }
  }

  &__title {
    padding: 15px 0 94px 20px;
    background: url("../images/header_background.png") 50% 50% no-repeat;
    background-size: cover;
  }

  &__slogan {
    margin-bottom: 8px;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: $header-slogan-color;
  }

  &__web-site {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    color: $web-site-color;
    text-decoration: none;
  }
}



// Main Service

.services {

  display: flex;
  flex-direction: column;


  &__item {
    display: flex;
    height: $height-service-item;
    margin-bottom: 2px;

    &--delivery {
      background: url("../images/service_pizza.png") 50% 80% no-repeat;
      background-size: cover;
    }

    &--salads {
      background: url("../images/service_UA_UX_Salads.png") 50% 50% no-repeat;
      background-size: cover;
    }

    &--desserts {
      background: url("../images/service_desserts.png") 50% 10% no-repeat;
      background-size: cover;
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78.125%;
      font-family: $main-font;
      font-size: 20px;
      font-weight: 700;
      color: $service-text-color;
      text-align: center;
      text-decoration: none;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 21.875%;
      color: $service-text-color;
      text-decoration: none;
      background: $service-btn-bg;
      border: none;
      cursor: pointer;
    }

  }

}


// Main Main-Menu

.main-menu {

  margin-bottom: 25px;
  padding-top: $padding-top-main-menu;

  &__title {
    position: relative;
    margin-bottom: $margin-bottom-main-menu-title;
    padding-left: 8px;
    font-family: $main-font;
    font-size: $font-size-main-menu-title;
    font-weight: 400;
    text-transform: uppercase;
    color: $main-menu-title-color;
  }
  
  &__description {
    margin-bottom: 12px;
    padding-left: 8px;
    font-family: $main-font;
    font-size: $font-size-main-menu-descr;
    font-weight: 400;
    color: $main-menu-descr-color;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__category {

    &-title {
      margin-bottom: 18px;
      padding: 8px 0 8px 18px;
      font-family: $main-font;
      font-size: $font-size-main-menu-category-title;
      font-weight: 400;
      text-transform: uppercase;


      &--dark {
        color: $main-menu-category-title-dark-color;
        background: $main-menu-category-title-dark-bg;
      }

      &--light {
        color: $main-menu-category-title-light-color;
        background: $main-menu-category-title-light-bg;
      }
    }
  }

  &__sub-category {

    position: relative;
    padding: 0 18px;

    &-title {
      margin-bottom: 20px;
      font-family: $main-font;
      font-size: $font-size-main-menu-sub-category-title;
      font-weight: 400;
      text-transform: uppercase;
      color: $main-menu-sub-category-title-color;
    }

    &-picture {
      position: absolute;
      top: -5px;
      right: 18px;

      &--pizza {
        width: 25px;
        height: 25px;
        background: url("../images/main-menu_pizza.png") no-repeat center;
        background-size: cover;
      }

      &--wine {
        width: 15px;
        height: 25px;
        background: url("../images/main-menu_wine-glass.png") no-repeat center;
        background-size: cover;
      }

      &--coffee {
        width: 30px;
        height: 20px;
        background: url("../images/main-menu_cup.png") no-repeat center;
        background-size: cover;
      }

      &--beer {
        width: 20px;
        height: 20px;
        background: url("../images/main-menu_beer-glass.png") no-repeat center;
        background-size: cover;
      }
    }

    &-list {
      margin-bottom: 20px;
    }

    &-item {

      position: relative;
      margin-bottom: 11px;
      font-family: $main-font;
      font-size: 13.5px;
      color: $main-menu-sub-category-text-color;


      &-title {
        margin-bottom: 8px;
        font-weight: 400;
      }

      &-price {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700;
      }

      &-description {
        font-size: 8.7px;
        line-height: 10px;
        font-weight: 400;
        text-align: justify;
      }
    }
  }
}


// Footer

.footer {
  position: relative;
  margin-bottom: 20px;
  padding: 12px 0;
  text-align: center;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 400;
  color: $footer-text-color;
  background: $footer-bg;

  &__description:first-child {
    margin-bottom: 8px;
  }
}

