@import "fonts";
@import "blocks-sizes";



// Device

.device {

  margin-top: 50px;
  font-size: 30px;

  &__mobile {
    display: none;
  }

  &__tables {
    display: none;
  }

  &__pc {
    display: block;
  }

  &__image {
    top: -20px;
    right: 2px;
    width: 83px;
    height: 73px;
    background: url("../images/device_pc.png") 50% 50% no-repeat;
  }
}



// Header

.header {

  margin-bottom: 6px;

  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 97px;

    &-title {
      display: none;
    }

    &-menu {
      position: static;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__gamburger {
    display: none;
  }

  &__menu-list {
    display: flex;
    width: auto;
    height: 100%;
    background: none;
  }

  &__menu-item {
    margin-left: 30px;
    border: none;
  }

  &__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: $secondary-font;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;

    &:focus {
      background: none;
    }
  }

  &__menu-logo {
    display: block;
    margin-right: 35px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat;
    background-size: cover;
    text-decoration: none;
  }

  &__title {
    padding: 50px 0 385px 40px;
  }

  &__slogan {
    margin-bottom: 50px;
    font-size: 62px;
    line-height: 64px;
  }

  &__web-site {
    font-size: 38px;
  }
}



// Main Service

.services {

  flex-direction: row;

  &__item {
    width: 33.3%;
    height: 400px;

    &-title {
      width: 100%;
      font-size: 43px;
    }

    &-btn {
      display: none;
    }
  }
}



// Main Main-Menu

.main-menu {

  margin-bottom: 90px;
  padding-top: $padding-top-main-menu * 4;

  &__title {
    margin-bottom: $margin-bottom-main-menu-title * 2;
    padding-left: 18px;
    font-size: $font-size-main-menu-title * 2;
  }

  &__logo {
    position: absolute;
    top: -35px;
    right: 15px;
    width: 120px;
    height: 98px;
    background: url("../images/main-menu_logo.png") 50% 50% no-repeat;
  }

  &__description {
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: $font-size-main-menu-descr * 2;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__category {

    &-title {
      margin-bottom: 33px;
      padding: 18px 0 18px 18px;
      font-size: $font-size-main-menu-category-title * 2;
    }
  }

  &__sub-category {

    padding: 0 18px;

    &-title {
      margin-bottom: 42px;
      font-size: $font-size-main-menu-sub-category-title * 2;
    }

    &-picture {

      top: -5px * 2;
      right: 12px;

      &--pizza {
        width: 49px;
        height: 48px;
      }

      &--wine {
        width: 27px;
        height: 48px;
      }

      &--coffee {
        width: 61px;
        height: 42px;
      }

      &--beer {
        width: 21px * 2;
        height: 21px * 2;
      }
    }

    &-list {
      margin-bottom: 40px;
    }

    &-item {

      margin-bottom: 20px;
      font-size: 27px;

      &-title {
        margin-bottom: 10px;
      }

      &-description {
        font-size: 17.5px;
        line-height: 21px;
      }
    }
  }
}


// Footer

.footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 44px 40px 34px 0;
  font-size: 18px;

  &__logo {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat;
  }
}