@import "fonts";
@import "blocks-sizes";



// Device

.device {

  &__mobile {
    display: none;
  }

  &__tables {
    display: block;
  }

  &__image {
    top: -30px;
    right: 2px;
    width: 44px;
    height: 87px;
    background: url("../images/device_tables.png") 50% 50% no-repeat;
  }
}



// Header

.header {

  margin-bottom: 6px;

  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 97px;

    &-title {
      display: none;
    }

    &-menu {
      position: static;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__gamburger {
    display: none;
  }

  &__menu-list {
    display: flex;
    width: auto;
    height: 100%;
    background: none;
  }

  &__menu-item {
    margin-left: 30px;
    border: none;
  }

  &__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: $secondary-font;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;

    &:focus {
      background: none;
    }
  }

  &__menu-logo {
    display: block;
    margin-right: 25px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat;
    background-size: cover;
    text-decoration: none;
  }

  &__title {
    padding: 50px 0 265px 30px;
  }

  &__slogan {
    margin-bottom: 50px;
    font-size: 54px;
    line-height: 64px;
  }

  &__web-site {
    font-size: 34px;
  }
}



// Main Service

.services {

  flex-direction: row;

  &__item {
    width: 33.3%;
    height: 327px;

    &-title {
      width: 100%;
      font-size: 38px;
    }

    &-btn {
      display: none;
    }
  }
}



// Main Main-Menu

.main-menu {

  margin-bottom: 30px;
  padding-top: $padding-top-main-menu * 3.5;

  &__title {
    margin-bottom: $margin-bottom-main-menu-title * 2;
    padding-left: 28px;
    font-size: 34px;
  }

  &__logo {
    position: absolute;
    top: -17px;
    right: 30px;
    width: 109px;
    height: 89px;
    background: url("../images/main-menu_logo.png") 50% 50% no-repeat;
  }

  &__description {
    margin-bottom: 22px;
    padding-left: 28px;
    font-size: $font-size-main-menu-descr * 2;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__category {

    &-title {
      margin-bottom: 40px;
      padding: 20px 0 20px 18px;
      font-size: 34px;
    }
  }

  &__sub-category {

    padding: 0 15px;

    &-title {
      margin-bottom: 42px;
      font-size: 26px;
    }

    &-picture {

      top: -5px * 2;
      right: 12px;

      &--pizza {
        width: 42px;
        height: 42px;
      }

      &--wine {
        width: 25px;
        height: 44px;
      }

      &--coffee {
        width: 56px;
        height: 39px;
      }

      &--beer {
        width: 20px * 2;
        height: 20px * 2;
      }
    }

    &-list {
      margin-bottom: 50px;
    }

    &-item {

      margin-bottom: 28px;
      font-size: 24px;

      &-title {
        margin-bottom: 10px;
      }

      &-description {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}


// Footer

.footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 44px 25px 34px 0;
  font-size: 18px;

  &__logo {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat;

  }
}