html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

.main_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Verdana', sans-serif;
    background: url("../image/body_background.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: visible;
}

.header {
    height: 54px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header__block {
    width: 88.5%;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 16px;
}

.header__title {
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.header__title:hover  {
    color: #3cb878;
    transition: color .8s ease-out;
}

.header__sign {
    float: right;
    padding-left: 22px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
}

.header__link {
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.header__link:hover {
    border-bottom: 1px solid #3cb878;
    transition: all .8s ease-out;
}

.header__icons-box {
    float: right;
    width: 146px;
}

.header__icons-box li {
    float: left;
}

.header_icon {
    display: block;
    height: 20px;
    margin-right: 27px;
    text-decoration: none;
    background-image: url('../image/header_spritesheet.png');
    background-repeat: no-repeat;
}

.header_icon:hover {
    background-image: url('../image/header_spritesheet_hover.png');
    transition: background-image .8s ease-out;
}

.icon-calendar {
    width: 19px;
    background-position: -5px -5px;
}

.icon-forum {
    width: 28px;
    background-position: -34px -5px;
}

.icon-compass {
    width: 20px;
    margin-right: 25px;
    background-position: -72px -5px;
}

main {
    margin: auto;
    height: calc(100% - 54px);
}

.registration__block {
    width: 445px;
    height: 582px;
    padding-top: 25px;
    padding-bottom: 31px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.form__title {
    position: relative;
    width: 327px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.form__title::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -59px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.form__sign {
    float: left;
    display: block;
    font-size: 20px;
    line-height: 21px;
}

.form__log {
    float: right;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.form__log:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .8s ease-out;
}

.registration__form {
    width: 323px;
    margin: 0 auto;
}

.form__social {
    display: inline-block;
    padding-bottom: 37px;
}

.social__btn {
    position: relative;
    width: 157px;
    height: 46px;
    padding-left: 64px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-align: left;
    vertical-align: center;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
}

.btn-fb {
    margin-right: 3px;
    background-color: #305db8;
    border-color: #305db8;
}

.btn-fb::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 45px;
    height: 28px;
    background: url("../image/social_fb.png") no-repeat 50% 50%;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-fb:hover {
    background-color: #264b96;
    border-color: #264b96;
    transition: all .8s ease-out;
}

.btn-google {
    padding-left: 70px;
    background-color: #df4a32;
    border-color: #df4a32;
}

.btn-google::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 45px;
    height: 28px;
    background: url("../image/social_g_plus.png") no-repeat 50% 50%;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-google:hover {
    background-color: #c3412c;
    border-color: #c3412c;
    transition: all .8s ease-out;
}

.form__line {
    border-top: 1px solid #eaeaea;
    position: relative;
    margin-bottom: 20px;
}

.form__line::after {
    content: "or";
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -26px;
    display: block;
    width: 52px;
    font-size: 14px;
    line-height: 21px;
    color: #848484;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding-left: 18px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    box-sizing: border-box;
    height: 44px;
    margin-bottom: 9px;
    padding-left: 18px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    box-shadow: 0 5px 9px rgba(0,0,0,0.3);;
}

input::placeholder {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #bebebe;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 20px;
    height: 20px;
    margin: 10px 10px 0 0;
}

.agree__box {
    position: relative;
    display: block;
    margin: 10px 9px 25px 0;
    padding-left: 30px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.agree__box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

input[type="checkbox"]:checked + .agree__box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: url("../image/check_mark.png") no-repeat 50% 50%;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

.agree__box a {
    font-size: 14px;
    line-height: 21px;
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.agree__box a:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .8s ease-out;
}

.form__btn {
    width: 100%;
    height: 44px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background-color: #3cb878;
    border: 1px solid #3cb878;
    border-radius: 3px;
    cursor: pointer;
}

.form__btn:hover {
    background-color: #329a65;
    border-color: #329a65;
    transition: all .8s ease-out;
}

