@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo.eot');
    src: local('Arimo'),
    url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo.woff') format('woff'),
    url('../fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: #484848;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #3a4965;
}

.pricing-plan {
    width: 1140px;
    margin: auto;
    background-color: #fafafa;
}

th span{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #484848;
    text-align: center;
}

th {
    padding-top: 25px;
    padding-bottom: 25px;
}

th, td {
    text-align: center;
}

td:not(:first-child) {
    border-bottom: 1px solid #dadada;
}

td:nth-child(odd):not(:first-child),
th:nth-child(odd):not(:first-child){
    background-color: #f2f2f2;
}

td:nth-child(even):not(:first-child),
th:nth-child(even):not(:first-child){
    background-color: #e3e3e3;
}

.pricing-plan__list th:not(:first-child) {
    width: 13.77%;
    border-bottom: 1px solid #dadada;
}

/*Block Pricing Plan Choose*/

.pricing-plan_choose {
    width: 17.36%;
    background-color: #fafafa;
    border-bottom: 1px solid #89c331;
}

.pricing-plan_choose span {
    display: block;
}

.pricing-plan_choose span:first-child {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.pricing-plan_choose span:last-child {
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

/*Font Awesome*/

i {
    color: #848484;
    margin-top: 7px;
}

.fa-archive {
    font-size: 23px;
}

.fa-cloud-upload-alt {
    font-size: 21px;
}

.fa-envelope {
    font-size: 24px;
}

.fa-life-ring {
    font-size: 25px;
}

.fa-cube {
    font-size: 23px;
}

.fa-users {
    font-size: 25px;
}

/*Title Pricing Plan*/

.pricing-plan_standard {
    padding-top: 10px;
    padding-bottom: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    background: #89c331;
}

.pricing-plan_ultimate {
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    background: #f04a56;
}

.pricing-plan_premium {
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #20807c;
}

/*Price*/

.price-in-dollars {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
}

.price-in-dollars sup {
    font-size: 18px;
}

.price-period {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 15px;
    font-size: 14px;
}

/*Button "Buy now"*/

.btn {
    width: 144px;
    height: 41px;
    padding-top: 5px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(to top, #404040 14%, #484848 14%);
    border: 1px solid #484848;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #404040;
    color: #89c331;
    transition: color .5s linear;
    transform: scale(0.9);
}

/*Hover ROWS*/

tr:hover td:nth-child(even){
    color: #fff;
    background: #3181a6;
    transition: all .8s linear;
}

tr:hover td:nth-child(odd) {
    color: #fff;
    background: #264b96;
    transition: all .8s linear;
}