.container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    border: 1px solid black;
}

.cell {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
}

.cell-mine {
    background: white url("../images/Mine.png") 50% 50% no-repeat;
    background-size: contain;
}

.cell-closed {
    background: grey;
}

.cell-flag {
    background: grey url("../images/flag_minesweeper.png") 50% 50% no-repeat;
    background-size: contain;
}

.cell-checked {
    background-color: white;
}

.game-over {
    visibility: hidden;
    width: 200px;
    margin: 0 auto;
    color: red;
    text-align: center;
}