html {
    height: 100vh;
    width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Verdana', sans-serif;
    color: #fff;
}

.general-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
    background: url("../images/background_page.jpg") no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.container {
    width: 1065px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*Header*/

.header_block {
    padding-top: 45px;
    padding-bottom: 40px;
}

.header_logo {
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
}

.header_logo:hover {
    color: #f26522;
}

.header_logo:hover > .logo__image {
    background: url("../images/header_logo_hover.png") no-repeat 50% 50%;
}

.logo__image {
    float: left;
    width: 46px;
    height: 44px;
    margin-top: 4px;
    margin-right: 15px;
    background: url("../images/header_logo.png") no-repeat 50% 50%;
}

.logo__title {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.logo_text {
    display: block;
}

.logo_big-text {
    font-size: 29px;
}

.logo_small-text {
    font-size: 18px;
    line-height: 24px;
}

.contacts {
    float: right;
    margin-top: 10px;
    text-align: right;
}

.contacts_text {
    display: block;
}

.contacts_email {
    font-size: 18px;
}

.contacts_telephone {
    font-size: 18px;
    line-height: 26px;
}

/*End header*/


/*Main*/

.tour__block {
    float: left;
    margin-left: 65px;
}

.tour__block:first-child, .tour__block:nth-child(4n) {
    margin-left: 0;
}

.tour-image__block {
    position: relative;
    width: 307px;
    height: 200px;
    padding: 2px;
    background: linear-gradient(to bottom, #fff, #010101);
    overflow: hidden;
}

.tour-image {
    display: block;
    text-decoration: none;
}

.image-description__block {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: -63px;
    height: 63px;
    background-color: #f26522;
    visibility: hidden;
}

.image-description_left {
    float: left;
    margin-top: 15px;
    margin-left: 23px;
}

.image-description_left-sm {
    display: block;
    font-size: 10px;
}

.image-description_left-large {
    display: block;
    margin-top: 4px;
    font-size: 20px;
}

.image-description_right-details {
    float: right;
    display: block;
    margin-top: 30px;
    margin-right: 13px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.image-description_right-details::after {
    content: '\203A';
    margin-left: 15px;
    font-size: 21px;
    vertical-align: top;
}

/*Animation image description block*/

.tour-image:hover + .image-description__block {
    visibility: visible;
    bottom: 0;
    transition: all .8s ease-out;
}

.image-description__block:hover {
    visibility: visible;
    bottom: 0;
}

/*End animation image description block*/

.tour__description {
    margin-top: 18px;
    margin-bottom: 55px;
    text-align: center;
}

.tour__description a {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: capitalize;
}

.tour-image__block:hover + .tour__description a, .tour__description a:hover {
    color: #f26522;
}

/*End Main*/


/*Footer*/

.footer {
    padding-bottom: 20px;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

