
.price-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 20%;
    height: 100px;
    background: orange;
}
label {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

#inputPrice {
    width: 50px;
    border: 2px solid grey;
}

.price-span {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 12px;
    border: 2px solid grey;
    border-radius: 10px;
}

.btn {
    margin-left: 5px;
    font-size: 10px;
    background: inherit;
    border: 1px solid grey;
    border-radius: 50%;
}

.error-text {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}