body {
  font-family: "Lato", sans-serif; }

.device {
  position: relative;
  margin-top: 27px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #878787; }
  .device__mobile-xl {
    display: none; }
  .device__tables {
    display: none; }
  .device__pc {
    display: none; }
  .device__image {
    position: absolute;
    top: -10px;
    right: 2px;
    width: 27px;
    height: 43px;
    background: url("../images/device_mobile.png") 50% 50% no-repeat; }

.header {
  margin-bottom: 4px; }
  .header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 37px;
    background: #373c3f; }
    .header__navigation-title {
      align-self: center;
      padding-left: 18px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 500;
      color: #fff; }
    .header__navigation-menu {
      position: absolute;
      top: 37px;
      right: 0;
      z-index: 999;
      display: none; }
      .header__navigation-menu--active {
        display: block; }
  .header__gamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    background: #202529;
    cursor: pointer; }
    .header__gamburger-icon {
      color: #fff;
      font-size: 17px; }
  .header__menu-list {
    width: 182px;
    background: #fafafa; }
  .header__menu-item {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1; }
  .header__menu-link {
    display: block;
    padding: 9px 0 9px 12px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #444444;
    text-decoration: none; }
    .header__menu-link:focus {
      background: #f5f5f5; }
  .header__title {
    padding: 15px 0 94px 20px;
    background: url("../images/header_background.png") 50% 50% no-repeat;
    background-size: cover; }
  .header__slogan {
    margin-bottom: 8px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #fff; }
  .header__web-site {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #a6d6e0;
    text-decoration: none; }

.services {
  display: flex;
  flex-direction: column; }
  .services__item {
    display: flex;
    height: 75px;
    margin-bottom: 2px; }
    .services__item--delivery {
      background: url("../images/service_pizza.png") 50% 80% no-repeat;
      background-size: cover; }
    .services__item--salads {
      background: url("../images/service_UA_UX_Salads.png") 50% 50% no-repeat;
      background-size: cover; }
    .services__item--desserts {
      background: url("../images/service_desserts.png") 50% 10% no-repeat;
      background-size: cover; }
    .services__item-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78.125%;
      font-family: "Lato", sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-decoration: none; }
    .services__item-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 21.875%;
      color: #fff;
      text-decoration: none;
      background: #acd8ad;
      border: none;
      cursor: pointer; }

.main-menu {
  margin-bottom: 25px;
  padding-top: 18px; }
  .main-menu__title {
    position: relative;
    margin-bottom: 2px;
    padding-left: 8px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3f4043; }
  .main-menu__description {
    margin-bottom: 12px;
    padding-left: 8px;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #d2d3d5; }
  .main-menu__container {
    display: flex;
    flex-direction: column; }
  .main-menu__category-title {
    margin-bottom: 18px;
    padding: 8px 0 8px 18px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase; }
    .main-menu__category-title--dark {
      color: #acd8ad;
      background: #3f4043; }
    .main-menu__category-title--light {
      color: #fff;
      background: #acd8ad; }
  .main-menu__sub-category {
    position: relative;
    padding: 0 18px; }
    .main-menu__sub-category-title {
      margin-bottom: 20px;
      font-family: "Lato", sans-serif;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      color: #3f4043; }
    .main-menu__sub-category-picture {
      position: absolute;
      top: -5px;
      right: 18px; }
      .main-menu__sub-category-picture--pizza {
        width: 25px;
        height: 25px;
        background: url("../images/main-menu_pizza.png") no-repeat center;
        background-size: cover; }
      .main-menu__sub-category-picture--wine {
        width: 15px;
        height: 25px;
        background: url("../images/main-menu_wine-glass.png") no-repeat center;
        background-size: cover; }
      .main-menu__sub-category-picture--coffee {
        width: 30px;
        height: 20px;
        background: url("../images/main-menu_cup.png") no-repeat center;
        background-size: cover; }
      .main-menu__sub-category-picture--beer {
        width: 20px;
        height: 20px;
        background: url("../images/main-menu_beer-glass.png") no-repeat center;
        background-size: cover; }
    .main-menu__sub-category-list {
      margin-bottom: 20px; }
    .main-menu__sub-category-item {
      position: relative;
      margin-bottom: 11px;
      font-family: "Lato", sans-serif;
      font-size: 13.5px;
      color: #3f4043; }
      .main-menu__sub-category-item-title {
        margin-bottom: 8px;
        font-weight: 400; }
      .main-menu__sub-category-item-price {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700; }
      .main-menu__sub-category-item-description {
        font-size: 8.7px;
        line-height: 10px;
        font-weight: 400;
        text-align: justify; }

.footer {
  position: relative;
  margin-bottom: 20px;
  padding: 12px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #acd8ad; }
  .footer__description:first-child {
    margin-bottom: 8px; }
