.device__mobile {
  display: none; }

.device__tables {
  display: block; }

.device__image {
  top: -30px;
  right: 2px;
  width: 44px;
  height: 87px;
  background: url("../images/device_tables.png") 50% 50% no-repeat; }

.header {
  margin-bottom: 6px; }
  .header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 97px; }
    .header__navigation-title {
      display: none; }
    .header__navigation-menu {
      position: static;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
  .header__gamburger {
    display: none; }
  .header__menu-list {
    display: flex;
    width: auto;
    height: 100%;
    background: none; }
  .header__menu-item {
    margin-left: 30px;
    border: none; }
  .header__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase; }
    .header__menu-link:focus {
      background: none; }
  .header__menu-logo {
    display: block;
    margin-right: 25px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat;
    background-size: cover;
    text-decoration: none; }
  .header__title {
    padding: 50px 0 265px 30px; }
  .header__slogan {
    margin-bottom: 50px;
    font-size: 54px;
    line-height: 64px; }
  .header__web-site {
    font-size: 34px; }

.services {
  flex-direction: row; }
  .services__item {
    width: 33.3%;
    height: 327px; }
    .services__item-title {
      width: 100%;
      font-size: 38px; }
    .services__item-btn {
      display: none; }

.main-menu {
  margin-bottom: 30px;
  padding-top: 63px; }
  .main-menu__title {
    margin-bottom: 4px;
    padding-left: 28px;
    font-size: 34px; }
  .main-menu__logo {
    position: absolute;
    top: -17px;
    right: 30px;
    width: 109px;
    height: 89px;
    background: url("../images/main-menu_logo.png") 50% 50% no-repeat; }
  .main-menu__description {
    margin-bottom: 22px;
    padding-left: 28px;
    font-size: 20px; }
  .main-menu__container {
    display: flex;
    flex-direction: row; }
  .main-menu__category-title {
    margin-bottom: 40px;
    padding: 20px 0 20px 18px;
    font-size: 34px; }
  .main-menu__sub-category {
    padding: 0 15px; }
    .main-menu__sub-category-title {
      margin-bottom: 42px;
      font-size: 26px; }
    .main-menu__sub-category-picture {
      top: -10px;
      right: 12px; }
      .main-menu__sub-category-picture--pizza {
        width: 42px;
        height: 42px; }
      .main-menu__sub-category-picture--wine {
        width: 25px;
        height: 44px; }
      .main-menu__sub-category-picture--coffee {
        width: 56px;
        height: 39px; }
      .main-menu__sub-category-picture--beer {
        width: 40px;
        height: 40px; }
    .main-menu__sub-category-list {
      margin-bottom: 50px; }
    .main-menu__sub-category-item {
      margin-bottom: 28px;
      font-size: 24px; }
      .main-menu__sub-category-item-title {
        margin-bottom: 10px; }
      .main-menu__sub-category-item-description {
        font-size: 12px;
        line-height: 16px; }

.footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 44px 25px 34px 0;
  font-size: 18px; }
  .footer__logo {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat; }
