.device__mobile {
  display: none; }

.device__mobile-xl {
  display: block; }

.header__navigation {
  height: 74px; }
  .header__navigation-title {
    padding-left: 36px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 400; }
  .header__navigation-menu {
    top: 74px; }

.header__gamburger {
  width: 86px; }
  .header__gamburger-icon {
    font-size: 34px; }

.header__menu-list {
  width: 243px; }

.header__menu-link {
  padding: 15px 0 15px 26px;
  font-size: 14px; }

.header__title {
  padding: 25px 0 200px 40px; }

.header__slogan {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 38px; }

.header__web-site {
  font-size: 24px; }

.services__item {
  height: 150px;
  margin-bottom: 3px; }
  .services__item-title {
    font-size: 36px; }

.main-menu {
  margin-bottom: 75px;
  padding-top: 36px; }
  .main-menu__title {
    margin-bottom: 4px;
    padding-left: 20px;
    font-size: 40px; }
  .main-menu__description {
    margin-bottom: 22px;
    padding-left: 20px;
    font-size: 20px; }
  .main-menu__category-title {
    margin-bottom: 36px;
    padding: 16px 0 16px 36px;
    font-size: 40px; }
  .main-menu__sub-category {
    padding: 0 36px; }
    .main-menu__sub-category-title {
      margin-bottom: 40px;
      font-size: 30px; }
    .main-menu__sub-category-picture {
      top: -10px;
      right: 36px; }
      .main-menu__sub-category-picture--pizza {
        width: 50px;
        height: 50px; }
      .main-menu__sub-category-picture--wine {
        width: 30px;
        height: 50px; }
      .main-menu__sub-category-picture--coffee {
        width: 60px;
        height: 40px; }
      .main-menu__sub-category-picture--beer {
        width: 40px;
        height: 40px; }
    .main-menu__sub-category-list {
      margin-bottom: 40px; }
    .main-menu__sub-category-item {
      margin-bottom: 18px;
      font-size: 27px; }
      .main-menu__sub-category-item-title {
        margin-bottom: 15px; }
      .main-menu__sub-category-item-description {
        font-size: 17.5px;
        line-height: 20px; }

.footer {
  margin-bottom: 50px;
  padding: 24px 0;
  font-size: 18px; }
  .footer__description:first-child {
    margin-bottom: 16px; }
