.device {
  margin-top: 50px;
  font-size: 30px; }
  .device__mobile {
    display: none; }
  .device__tables {
    display: none; }
  .device__pc {
    display: block; }
  .device__image {
    top: -20px;
    right: 2px;
    width: 83px;
    height: 73px;
    background: url("../images/device_pc.png") 50% 50% no-repeat; }

.header {
  margin-bottom: 6px; }
  .header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 97px; }
    .header__navigation-title {
      display: none; }
    .header__navigation-menu {
      position: static;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
  .header__gamburger {
    display: none; }
  .header__menu-list {
    display: flex;
    width: auto;
    height: 100%;
    background: none; }
  .header__menu-item {
    margin-left: 30px;
    border: none; }
  .header__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase; }
    .header__menu-link:focus {
      background: none; }
  .header__menu-logo {
    display: block;
    margin-right: 35px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat;
    background-size: cover;
    text-decoration: none; }
  .header__title {
    padding: 50px 0 385px 40px; }
  .header__slogan {
    margin-bottom: 50px;
    font-size: 62px;
    line-height: 64px; }
  .header__web-site {
    font-size: 38px; }

.services {
  flex-direction: row; }
  .services__item {
    width: 33.3%;
    height: 400px; }
    .services__item-title {
      width: 100%;
      font-size: 43px; }
    .services__item-btn {
      display: none; }

.main-menu {
  margin-bottom: 90px;
  padding-top: 72px; }
  .main-menu__title {
    margin-bottom: 4px;
    padding-left: 18px;
    font-size: 40px; }
  .main-menu__logo {
    position: absolute;
    top: -35px;
    right: 15px;
    width: 120px;
    height: 98px;
    background: url("../images/main-menu_logo.png") 50% 50% no-repeat; }
  .main-menu__description {
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: 20px; }
  .main-menu__container {
    display: flex;
    flex-direction: row; }
  .main-menu__category-title {
    margin-bottom: 33px;
    padding: 18px 0 18px 18px;
    font-size: 40px; }
  .main-menu__sub-category {
    padding: 0 18px; }
    .main-menu__sub-category-title {
      margin-bottom: 42px;
      font-size: 30px; }
    .main-menu__sub-category-picture {
      top: -10px;
      right: 12px; }
      .main-menu__sub-category-picture--pizza {
        width: 49px;
        height: 48px; }
      .main-menu__sub-category-picture--wine {
        width: 27px;
        height: 48px; }
      .main-menu__sub-category-picture--coffee {
        width: 61px;
        height: 42px; }
      .main-menu__sub-category-picture--beer {
        width: 42px;
        height: 42px; }
    .main-menu__sub-category-list {
      margin-bottom: 40px; }
    .main-menu__sub-category-item {
      margin-bottom: 20px;
      font-size: 27px; }
      .main-menu__sub-category-item-title {
        margin-bottom: 10px; }
      .main-menu__sub-category-item-description {
        font-size: 17.5px;
        line-height: 21px; }

.footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 44px 40px 34px 0;
  font-size: 18px; }
  .footer__logo {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 104px;
    height: 83px;
    background: url("../images/pizza-logo.png") 50% 50% no-repeat; }
