html {
    height: 100vw;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Impact, sans-serif;
    font-size: 3em;
    background: black;
    perspective: 250px;
}

.star-wars__content {
    width: 60%;
    margin: 0 auto;
    animation: animateScroll 30s linear infinite;
}

.star-wars__title {
    text-transform: uppercase;
    text-align: center;
    color: yellow;
}

.star-wars__description {
    text-align: justify;
    color: yellow;
}

@keyframes animateScroll {
    0% {
        transform: rotateX(30deg) translateY(80%);
    }
    100% {
        transform: rotateX(30deg) translateY(-150%);
    }
}