/*Fonts*/

@font-face {
    font-family: GothamRounded;
    src: url('../fonts/GothamRoundedMedium_21022.ttf');
}

/*General*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #373737;
}

/* Header*/

.header-nav {
    padding-top: 28px;
    padding-bottom: 31px;
    font-size: 18px;
    list-style: none;
}

.header-nav li {
    display: inline-block;
}

.header-nav li:first-child {
    margin-left: 25.85%;
    margin-right: 56px;
}

.header-nav li:nth-child(2) {
    margin-right: 60px;
}

.header-nav li:nth-child(3) {
    margin-right: 68px;
}

.header-nav a {
    display: block;
    color: #16a085;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*Main*/

main {
    background: #f5f6f7;
}

.image img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container {
    margin: 48px 85px 38px 110px;
}

.rappresent-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
}

.rappresent p{
    margin-top: 24px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.rappresent-btn {
    padding-bottom: 95px;
}

.btn {
    display: block;
    width: 195px;
    height: 50px;
    margin: 0 auto;
    padding-top: 3px;
    color: #ffffff;
    font-family: GothamRounded, sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 4px;
    cursor: pointer;
}

/*Footer*/

.footer-copyright {
    padding: 44px 105px 44px 0;
    text-align: right;
    font-size: 16px;
    letter-spacing: 2.4px;
}