p {
    margin: 0;
    padding: 10px;
}

.trello_container {
    padding-top: 10px;
}

.trello_create-list-container {
    padding-left: 10px;
}

.trello_create-list-input {
    margin-right: 10px;
}

.trello_create-list-btn-add-list {
    height: 20px;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    background: #16a085;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.trello_container-task-list-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.trello_tasks-list {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.trello_tasks-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.trello_tasks-list-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    word-break: break-all;
}

.trello_tasks-list-btn-sort {
    /*width: 60px;*/
    max-height: 40px;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    background: #16a085;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.trello_tasks-list-btn-add-task {
    height: 20px;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    background: #264b96;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.5;
}

.trello_tasks-list-btn-add-task:hover {
    opacity: 1;
}

.trello_tasks-card-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.trello_tasks-card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    background: #f5f6f7;
    border: 1px solid #FF9933;
    border-radius: 3px;
    word-break: break-all;
}

.trello_tasks-card-destroyer-btn {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #ff6751;
    border: 1px solid #ff6751;
    border-radius: 1px;
    cursor: pointer;
}

.trello_tasks-card-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.trello_tasks-card-form {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    margin: 5px 0;
    padding: 10px 25px 10px 10px;
    resize: none;
}

.trello_tasks-card-accept-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #1c7430;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.trello_tasks-card-cancel-btn {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #ff6751;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/*Drag & Drop*/
.over {
    opacity: 0.2;
    /*transform: scale(1.1, 1.1);*/
}