.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

svg {
    overflow: visible;
    width: 100px;
    height: 150px;
}
svg g {
    animation: slide 2s linear infinite;
}
svg g:nth-child(2) {
    animation-delay: 0.5s;
}
svg g:nth-child(2) path {
    animation-delay: 0.5s;
    stroke-dasharray: 0px 158px;
    stroke-dashoffset: 1px;
}
svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
    animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes slide {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes escalade {
    0% {
        stroke-dasharray: 0 157px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: -156px;
    }
}