/*Cards From Server*/

body {
    position: relative;
    padding: 10px;
    margin: 0;
    color: #000;
}

.container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 40px 10px 10px;
    border: 1px solid #848484;
    background: #3181a6;
}

.btn {
    padding: 5px 8px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 3px;
    opacity: 0.5;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn-add-new-post {
    position: absolute;
    top: 5px;
    right: 10px;
    background: #1ac66c;
}

.card-container {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    color: #000;
    background: #f5f6f7;
    border: 1px solid #000;
    border-radius: 4px;
}

.card-container:last-child {
    margin-bottom: 0;
}

.card-user-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
}

.card-user-email {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: #000;
    text-decoration: none;
    word-break: break-all;
}

.card-title {
    margin: 10px 0;
    font-size: 20px;
    color: #721c24;
    text-align: center;
    word-break: break-all;
}

.card-post {
    margin: 0;
    font-size: 16px;
    color: #000;
    word-break: break-all;
}

.card-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.card-btn-edit {
    margin-right: 10px;
    background: #005cbf;
}

.card-btn-delete {
    background: #bd2130;
}


/*General Modal Style*/

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}

.modal_form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.modal_form-btn-close {
    position: absolute;
    top: -1px;
    right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    padding: 0;
    color: #000;
    background: #bd2130;
    border: 1px solid #000;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.modal_form-btn-close:hover {
   opacity: 1;
}

.modal_label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal_label-title {
    width: 200px;
}

.modal_label-print-area {
    width: 400px;
}

.modal_description-area {
    height: 200px;
    resize: none;
}

.modal_form-btn-accept {
    align-self: flex-end;
    color: #000;
    background: #1ac66c;
}
